<h1>API 说明</h1>
<pre>
除去fairway_map接口，所有返回结果是json形式，utf-8编码; fairway_map返回球道图的二进制流
除去sign_up接口，所有请求都有token作为参数；
所有应答都包括status，其中0=成功，>0 失败（message解释失败原因）
手机客户端数据库包含如下信息：
- token: 通信会话令牌，标志手机在系统中成功注册过，其他所有接口都必须把token作为参数
- user_name: 用户名，没有表示用户没有设置过
- os: 最后向服务器提供的手机上安装的操作系统和版本号，如果当前操作系统版本不同，需要在sync_config时提供此参数并更新；
- app_version: 最后向服务器提供的版本号，如果当前应用版本号不同，需要在sync_config时提供此参数并更新；
- course_list_version: 本地球场列表版本号，没有表示本地没有数据
- sina_token: 新浪认证令牌，没有表示没有绑定新浪微博
- area_id: 用户选择的地区ID，没有表示按照“附近”
- 缓存数据库

产品模式下：
客户端请求时Header中添加 Accept-Encoding: gzip
服务器端对大于一个尺寸的应答进行压缩，并在header中标志 Content-Encoding: gzip
客户端对压缩的内容先加压再处理

<%= @token %>
</pre>

<ul class="links">

<li>
  <h3>sign_up </h3>
  <pre>注册接口:客户端本地没有token，认为是首次使用，系统自动为手机注册
方法：POST
请求参数：
  did：设备号，用IMEI或者系统提供的唯一设备标志，或者客户端生成一个UUID
  model：手机型号，比如sumsung nexus s
  os：设备上运行的操作系统，比如 android 4.0.3/ios 4.3
  version: 当前客户端版本号， ex: 1.0
  source: 客户端安装来源
应答：
  token
  user_name: 如果用户设置过</pre>
  <form action="/api/sign_up" method="POST">
    did: <input name="did"/> model: <input name="model"/> os: <input name='os'/> version: <input name="version"/> source: <input name="source"/> <br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>sync_config </h3>
  <pre>配置同步接口： 每次客户端使用时首先调用这个接口来向服务器取得最新的配置信息
方法：POST
请求参数：
  token
  os：设备上运行的操作系统，比如 android 4.0.3/ios 4.3； 仅当本地记录与系统不符时才提供
  version: 当前客户端版本号， ex: 1.0； 仅当本地记录与系统不符时才提供
  lat_lon: 当前经纬度坐标, 格式: xxx.xxxxxx|yyy.yyyyyy
应答：
  status/message
  config = {
    force_signup: 强制注册 （当前token无效）
    force_quit: 显示message后强制退出
    latest_version: 最新版本
    update_url: 更新包地址
    course_list_cache_expire: 球场列表缓存时间，以秒为单位，默认3600
    server_time: 服务器端时间
  }</pre>
  <form action="/api/sync_config" method="POST">
    token: <input name="token"/> os: <input name='os'/> version: <input name="version"/> lat_lon:<input name='lat_lon'/><br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>course_list </h3>
  <pre>球场列表，本地缓存，时效在sync_config中配置，超时重新请求，如果响应中没有数据表示本地版本继续有效，缓存续约
方法：GET
请求参数：
  token
  lat_lon: 用户当前经纬度坐标, 格式： xxx.xxxxxx|yyy.yyyyyy
  area_id: 地区ID，仅当用户选择了城市时使用
  version: 本地缓存的球场列表版本号码，不提供本参数表示本地没有缓存
应答：
  status/message
  version: 响应中的球场列表版本号
  hot[] = { :推荐球场列表
    id: 球场ID
    name: 球场名称
    pic: 球场图片URL地址
  }
  list[] = { :球场列表
    id: 球场ID
    name: 球场名称
    logo: 球场图标URL地址
    lat_lon: 球场经纬度坐标, 格式： xxx.xxxxxx|yyy.yyyyyy
    overall: 评分
    price: 价格
    hardness: 难度
    view: 风景
  } </pre>
  <form action="/api/course_list" method="GET">
    token: <input name="token"/> lat_lon:<input name='lat_lon'/> area_id: <input name='area_id'/>version: <input name='version'/><br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>course_info </h3>
  <pre>球场详细信息接口
方法：GET
请求参数：
  token
  id: 球场ID
应答：
  status/message
  course= {
    name: 名称
    pics[]: 图片URL地址数组
    description: 介绍
    designer: 设计师
    type: 类型
    lat_lon: 坐标
    favorite: 是否关注过
    comments {: 评分
      overall: 总平均
      votes: 评分人数
      view: 风景
      cluture: 文化
      hardness: 难度
      candy: 球童
      design: 设计
      facility: 设施
      recall: 回味
      service: 服务
      maintenance: 维护
      price: 价格
    }
    comments_mine {: 我的评分, 没有表示尚未评分
      overall: 总平均
      view|cluture|hardness|candy|design|facility|recall|service|maintenance|price: 风景|文化|难度|球童|设计|设施|回味|服务|维护|价格
    }
    prices[] { : 价格，第一个是官方
      workday: 平日价格
      holiday: 假日价格
      telephone: 订场电话号码
    }
  }</pre>
  <form action="/api/course_info" method="GET">
    token: <input name="token"/> id:<input name='id'/> <br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>fairway_list </h3>
  <pre>球道图列表
方法：GET
请求参数：
  token
  id: 球场ID
应答：
  status/message
  holes[] {: 球道图列表，按照球洞号码顺序排列，请求球道图时球道ID作为fairway_map的ID参数
    id: 球道ID
    lat_lons { :图片四角经纬坐标，格式： xxx.xxxxxx|yyy.yyyyyy，如果没有表示球道图未经测量
      left_lower: 左下角
      right_lower: 右下下角
      left_upper: 左上角
      right_upper: 右上角
    }
    dim: 图片尺寸， x|y
  } </pre>
  <form action="/api/faireay_list" method="GET">
    token: <input name="token"/> ID: <input name='id'/> <br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>fairway_map </h3>
  <pre>球道图接口
方法：GET
请求参数：
  token
  id: 球道ID
应答：
  球道图的二进制流</pre>
  <form action="/api/faireay_map" method="GET">
    token: <input name="token"/> ID: <input name='id'/> <br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>comment_course </h3>
  <pre>球场评分接口
方法：POST
请求参数：
  token
  id: 球场ID
  overall: 总平均
  view: 风景
  culture: 文化
  hardness: 难度
  candy: 球童
  design: 设计
  facility: 设施
  recall: 回味
  service: 服务
  maintenance: 维护
  price: 价格
应答：
  status/message </pre>
  <form action="/api/comment_course" method="POST">
    token: <input name="token"/> id: <input name='id'/> overall: <input name='overall'/> <br/>
    view: <input name='view'/> culture <input name='culture'/> hardness <input name='hardness'/> <br/>
    candy <input name='candy'/> design: <input name='design'/> facility: <input name='facility'/> <br/>
    recall: <input name='recall'/> service: <input name='service'/> <br/>
    maintenance: <input name='maintenance'/> price: <input name='price'/><br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>add_favorite </h3>
  <pre>关注球场接口
方法：POST
请求参数：
  token
  id: 球场ID
  off: (=yes 取消关注)
应答：
  status/message</pre>
  <form action="/api/add_favorite" method="POST">
    token: <input name="token"/> id: <input name='id'/> off: <input name='off'/> <br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>my_favorites </h3>
  <pre>我收藏的球场列表接口
方法：GET
请求参数：
  token
应答：
  status/message
  list[] = {
    id: 球场ID
    name: 球场名称
    logo: 球场图标URL地址
  } </pre>
  <form action="/api/my_favorites" method="GET">
    token: <input name="token"/> <br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>my_comments </h3>
  <pre>我评分过的球场列表接口
方法：GET
请求参数：
  token
应答：
  status/message
  list[] = {
    id: 球场ID
    name: 球场名称
    logo: 球场图标URL地址
    overall: 总平均分
    mine: 我的评分
  } </pre>
  <form action="/api/my_comments" method="GET">
    token: <input name="token"/> <br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>area_list </h3>
  <pre>球场分布地区列表，只返回有球场的地区，只支持两级列表；客户端在显示地区列表时，自动增加“附近”作为第一个选项；
用户改变地区选择后，要调用course_list接口更新球场信息
方法：GET
请求参数：
  token
应答：
  status/message
  list[] = {
    id: 地区ID
    name: 地区名称
    courses: 球场数量
    subs[] = { :下级地区列表 
      id: 地区ID
      name: 地区名称
      courses: 球场数量
    }
  }</pre>
  <form action="/api/area_list" method="GET">
    token: <input name="token"/> <br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>config_user</h3>
  <pre>设置手机的用户信息，包括用户名，邮箱，密码和新浪微薄token
方法：POST
请求参数：
  token
  name: 用户名
  email: 邮箱
  pass: 密码
  sina_token: 新浪认证通过的token
应答：
  status/message</pre>
  <form action="/api/config_user" method="POST">
    token: <input name="token"/> name: <input name="name"/> email: <input name="email"/>　pass: <input name="pass"/> sina_token: <input name="sina_token"/><br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>switch_user </h3>
  <pre>切换用户：验证用户提供的用户名和密码，如果通过则绑定当前手机到已经存在的用户账号
方法：POST
请求参数：
  token
  name: 用户名
  pass: 密码
应答：
  status/message
  token: 新的token</pre>
  <form action="/api/switch_user" method="POST">
    token: <input name="token"/> name: <input name="name"/> pass: <input name="pass"/><br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>find_password </h3>
  <pre>找回密码接口，服务器会把密码发送到用户的邮箱
方法：POST
请求参数：
  token
  email: 用户的注册邮箱
应答：
  status/message</pre>
  <form action="/api/find_password" method="POST">
    token: <input name="token"/> email: <input name='email'/> <br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>----------------以上完成----------------</li>
<li>---------------以下待完成----------------</li>


<li>
  <h3>search_suggest </h3>
  <pre>搜索提示接口
方法：GET
请求参数：
  token
  key: 搜索关键字
应答：
  status/message
  list[]:相关搜索提示词列表</pre>
  <form action="/api/search_suggest" method="GET">
    token: <input name="token"/> key: <input name='key'/><br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3>search </h3>
  <pre>球场搜索接口
方法：GET
请求参数：
  token
  key: 搜索关键字
应答：
  status/message
  list[] = {
　　id:球场ID
　　name: 球场名称
  }</pre
  <form action="/api/search" method="GET">
    token: <input name="token"/> key: <input name='key'/><br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<li>
  <h3><strike>废除 hot_list </strike></h3>
  <pre>推荐球场列表接口，合并到course_list中
方法：GET
请求参数：
  token
  lat_lon: 用户当前经纬度坐标, 格式： xxx.xxxxxx|yyy.yyyyyy
应答：
  status/message
  list[] = {
    id: 球场ID
    name: 球场名称
    pic: 球场图片URL地址
  }</pre>
  <form action="/api/hot_list" method="GET">
    token: <input name="token"/> lat_lon:<input name='lat_lon'/><br/>
    <input type='submit' value="测试"/>
  </form>
</li>

<!--
<li>
  <h3> </h3>
  <pre>接口
方法：POST
请求参数：
  token
应答：
  status/message
  </pre>
  <form action="/api/" method="POST">
    token: <input name="token"/> <br/>
    <input type='submit' value="测试"/>
  </form>
</li>
-->
</ul>
