<!DOCTYPE html>
<html>
<head>
  <title>TT-Golf API Doc</title>
  <%= stylesheet_link_tag    "application-api", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
